// Font
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

// Primary
$darkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

// Neutral
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);

:root {
  font-size: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Spartan", sans-serif;
  overflow-x: hidden;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

@media screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }
  .mobile-top,
  .mobile-bottom {
    display: none !important;
  }

  .desktop-top {
    display: block !important;
    position: absolute;
    width: 770px;
    top: 0;
    left: 0;
  }
  .desktop-bottom {
    display: block !important;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    justify-content: center !important;
    position: relative;

    .main {
      display: flex;
      justify-content: space-between;

      .description {
        text-align: left;
        width: 450px;
        margin: 0em 1.5em !important;
        .headline {
          font-size: 3.5em;
          letter-spacing: -3px;
          line-height: 100%;
          margin-top: 1em !important;
        }
        .headline-text {
          font-size: 1em;
          margin-top: 1em;
        }
      }

      .ratings {
        display: flex;
        flex-direction: column;
        margin: 4em 1.3em 1.5em 1.5em !important;
        width: 555px;
        .rating-container {
          display: flex;
          margin-bottom: 1.2em !important;
          border-radius: 10px !important;
          .rating {
            display: flex;
            padding: 1.2em 1em !important;
            padding-left: 2em !important;
            img {
              object-fit: contain;
              margin-right: 0.6em !important;
            }
            h3 {
              margin-left: 1.5em !important;
            }
          }
        }
        .rating-container:nth-child(1) {
          margin-right: 6em;
        }
        .rating-container:nth-child(2) {
          margin-left: 3em;
          margin-right: 3em;
        }
        .rating-container:nth-child(3) {
          margin-left: 6em;
        }
      }
    }

    .cards {
      padding-bottom: 0em !important;
      display: flex;
      align-items: center;
      margin-top: 2em;
      .review {
        max-width: 368px;
        padding: 35px 38px !important;
        margin: 1em 0.7em 1em 1.5em !important;
      }
      .review:nth-child(2) {
        transform: translateY(12px) !important;
      }
      .review:nth-child(3) {
        transform: translateY(22px) !important;
      }
    }
  }
}

@media screen and (min-width: 300px) {
  .desktop-top,
  .desktop-bottom {
    display: none;
  }

  .mobile-top {
    position: absolute;
    display: block;
    top: 0;
    left: -70px;
  }
  .mobile-bottom {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
  }

  .container {
    justify-content: flex-start;
  }

  .main {
    text-align: center;

    .description {
      margin: 2em;
      h1 {
        color: $darkMagenta;
        font-size: 1.9em;
        font-weight: 700;
        margin-top: 2.5em;
        animation: swipedown 1s;
      }
      p {
        color: $darkGrayishMagenta;
        font-size: 0.92rem;
        margin-top: 1.5em;
        line-height: 1.5em;
        animation: swiperight 1s;
      }
    }

    .ratings {
      margin: 2.5em 2em;
      .rating-container {
        background-color: $lightGrayishMagenta;
        margin-bottom: 1em;
        border-radius: 5px;
        .rating {
          padding: 1em;
          h3 {
            color: $darkMagenta;
            font-size: 0.9em;
            margin-top: 0.5em;
          }
          img {
            margin-right: 0.3em;
          }
        }
      }
      .rating-container:nth-child(1) {
        animation: swipeleft 0.7s;
      }
      .rating-container:nth-child(2) {
        animation: swipeleft 0.9s;
      }
      .rating-container:nth-child(3) {
        animation: swipeleft 1.1s;
      }
    }
  }

  .cards {
    padding-bottom: 5em;
    animation: swipeup 1s;
    .review {
      background-color: $darkMagenta;
      color: white;
      margin: 1em 1.5em;
      border-radius: 10px;
      padding: 26px 34px;
      font-size: 0.87rem;
      line-height: 1.7em;

      .profile {
        display: flex;
        .picture {
          border-radius: 50%;
          width: 40px;
          margin-right: 2em;
        }
        .info {
          margin-top: 0.25em;
          h3 {
            margin-top: -3px;
            font-size: 1em;
          }
          .name {
            font-weight: 500;
          }
          .status {
            color: $softPink;
            font-weight: 400;
          }
        }
      }
      p {
        margin-top: 1.5em;
        font-size: 13px;
      }
    }
  }
}

@keyframes swipeup {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes swipedown {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes swipeleft {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes swiperight {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
